<?xml version="1.0"?>
<launch>
    <!-- Global -->
    <arg name="use_GLOBAL" default="true"/>
    <arg name="use_SBPL" default="false"/>
    <arg name="use_DLUX" default="false"/>

    <arg name="base_global_planner" default="global_planner/GlobalPlanner" if="$(arg use_GLOBAL)"/>
    <arg name="base_global_planner" default="SBPLLatticePlanner" if="$(arg use_SBPL)"/>
    <arg name="base_global_planner" default="nav_core_adapter::GlobalPlannerAdapter" if="$(arg use_DLUX)"/>
    <!-- Local -->
    <arg name="use_BASE" default="false"/>
    <arg name="use_DWA" default="true"/>
    <arg name="use_DWB" default="false"/>
    <arg name="use_TEB" default="false"/>
    <arg name="use_MPC" default="false"/>

    <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS" if="$(arg use_BASE)"/>
    <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS" if="$(arg use_DWA)"/>
    <arg name="base_local_planner" default="nav_core_adapter::LocalPlannerAdapter" if="$(arg use_DWB)"/>
    <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" if="$(arg use_TEB)"/>
    <arg name="base_local_planner" default="mpc_local_planner/MpcLocalPlannerROS" if="$(arg use_MPC)"/>

    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <param name="base_global_planner" value="$(arg base_global_planner)"/>
        <param name="base_local_planner" value="$(arg base_local_planner)"/>
        <param name="SBPLLatticePlanner/primitive_filename" value="$(find agv)/matlab/mprim/agv.mprim" if="$(arg use_SBPL)"/>
        <!-- Global Planner Parameters -->
        <rosparam command="load" file="$(find agv)/param/global_planners/base_global_planner_params.yaml" if="$(arg use_GLOBAL)"/>
        <rosparam command="load" file="$(find agv)/param/global_planners/sbpl_global_planner_params.yaml" if="$(arg use_SBPL)"/>
        <rosparam command="load" file="$(find agv)/param/global_planners/dlux_global_planner_params.yaml" if="$(arg use_DLUX)"/>
        <!-- Local Planner Parameters -->
        <rosparam command="load" file="$(find agv)/param/local_planners/dwa_local_planner_params.yaml" if="$(arg use_DWA)"/>
        <rosparam command="load" file="$(find agv)/param/local_planners/dwb_local_planner_params.yaml" if="$(arg use_DWB)"/>
        <rosparam command="load" file="$(find agv)/param/local_planners/teb_local_planner_params.yaml" if="$(arg use_TEB)"/>
        <rosparam command="load" file="$(find agv)/param/local_planners/mpc_local_planner_params.yaml" if="$(arg use_MPC)"/>
        <rosparam command="load" file="$(find agv)/param/local_planners/mpc_costmap_converter_params.yaml" if="$(arg use_MPC)"/>
        <!-- Costmap Parameters -->
        <rosparam command="load" file="$(find agv)/param/costmap_params/common_costmap_params.yaml" ns="global_costmap"/>
        <rosparam command="load" file="$(find agv)/param/costmap_params/common_costmap_params.yaml" ns="local_costmap"/>
        <rosparam command="load" file="$(find agv)/param/costmap_params/global_costmap_params.yaml"/>
        <rosparam command="load" file="$(find agv)/param/costmap_params/local_costmap_params.yaml"/>
        <!-- Move Base -->
        <rosparam command="load" file="$(find agv)/param/move_base_params.yaml"/>
    </node>
</launch>